name: Test Deno Module
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        deno: ["v1.x"]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup Deno
      uses: denoland/setup-deno@v1
      with:
        deno-version: ${{ matrix.deno }}
    - name: Check formatting
      run: deno fmt --check 
    - name: Check linting
      run: deno lint
    - name: Check runtime issues
      run: deno run --reload mod.ts
    - name: Run tests
      run: deno test --allow-net=localhost
  